#calc {
    /* overflow: hidden; */
    position: relative;

    width: 320px;

    background-color: rgb(74, 139, 93);
    /* background-color: #202020; */
}

#calc-result {
    overflow: auto;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    height: 75px;
    max-height: 75px;
    /* background-color: antiquewhite; */
}

#calc-result p {
    text-align: end;
    color: #d7d7d7;
    font-size: 40px;
    height: 51px;
    width: 288.800px;
}

#calc-body {
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#calc-body .linha {
    display: flex;
    justify-content: space-evenly;

    /* background-color: antiquewhite; */
}

#calc-body #ce_btn .fa-c {
    margin-right: 3px;
}

#calc-body .calc-button, .calc-button-number, .equals-color {
    /* height:45px; */
    height:49px;
    margin-bottom: 2px;
}

#calc-body .calc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    background-color: #ffffff13;

    color: #d7d7d7;
    width: 76px;
}

#calc-body .calc-button:hover {
    background-color: #ffffff1f;
}

#calc-body .calc-button-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    background-color: #ffffff1f;

    color: #d7d7d7;
    width: 76px;
}

#calc-body .calc-button-number:hover {
    background-color: #ffffff13;
}

#calc-body .equals-color {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    background-color: #ffffff3f;
    color: #d7d7d7;
    width: 76px;
}

#calc-body .equals-color:hover {
    background-color: #ffffff49;
}