#calc-nav-bar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

#scale-calc_btn {
    position: relative;

    margin-left: 1px;
    margin-top: 1px;
    width: 37px;

    height: 28px;

    border-radius: 5px;
}

#scale-calc_btn:hover {
    background-color: #ffffff27;
}

#big-square {
    position: absolute;
    left: 2px;
    top: 6px;
}

#small-square {
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 7px;
}

#arrow {
    position: absolute;
    top: 12.3px;
    left: 0.5px;

    /* background-color: #202020; */
    background-color: #202020;
    transform: rotate(45deg);
    font-size: 9px;
    padding: 1px;
}

#calc-nav-bar i {
    color: #d7d7d7;
    margin-left: 10px;
    margin-right: 10px;
}