<div id="options-container">
    <div id="options-header">
       
    </div>
    <div id="options-body">
        <div id="options-calc" class="">
            <h3 class="options-title">Calculadora</h3>
            <div class="options-line selected-option"><p><i class="fa-solid fa-calculator"></i>Padrão</p></div>
            <div class="options-line"><p><i class="fa-solid fa-flask"></i>Científica</p></div>
            <div class="options-line"><p><i class="fa-solid fa-chart-line"></i>Representação gráfica</p></div>
            <div class="options-line"><p><i class="fa-solid fa-code"></i>Programador</p></div>
            <div class="options-line"><p><i class="fa-solid fa-calendar-days"></i>Cálculo de data</p></div>
        </div>
        <div id="options-convert">
            <h3 class="options-title">Conversor</h3>
            <div class="options-line"><p><i class="fa-solid fa-coins"></i>Moeda</p></div>
            <div class="options-line"><p><i class="fa-solid fa-cube"></i>Volume</p></div>
            <div class="options-line"><p><i class="fa-solid fa-weight-hanging"></i>Peso e massa</p></div>
            <div class="options-line"><p><i class="fa-solid fa-ruler-vertical"></i>Comprimento</p></div>
            <div class="options-line"><p><i class="fa-solid fa-thermometer"></i>Temperatura</p></div>
            <div class="options-line"><p><i class="fa-solid fa-fire-flame-curved"></i>Energia</p></div>
            <div class="options-line"><p><i class="fa-solid fa-">m²</i>Área</p></div>
            <div class="options-line"><p><i class="fa-solid fa-person-running"></i>Velocidade</p></div>
            <div class="options-line"><p><i class="fa-regular fa-clock"></i>Tempo</p></div>
            <div class="options-line"><p><i class="fa-solid fa-bolt"></i>Potência</p></div>
            <div class="options-line"><p><i class="fa-solid fa-database"></i>Dados</p></div>
            <div class="options-line"><p><i class="fa-solid fa-gauge-high"></i>Pressão</p></div>
            <div class="options-line"><p><i class="fa-solid fa-compass-drafting"></i>Ângulo</p></div>
        </div>
    </div>
    <div id="options-footer">
        <h2><i class="fa-solid fa-gear"></i>Configurações</h2>
    </div>
</div>