<div id="options-container">
    <div id="options-header">
        <div id="minimize-options"><i class="fa-solid fa-bars"></i></div>
    </div>
    <div id="options-body">
        <div id="options-calc">
            <h3 class="options-title">Calculadora</h3>
            <div class="options-line selected-option"><p><i class="fa-solid fa-calculator"></i>Padrão</p></div>
            <div class="options-line"><p><i class="fa-solid fa-flask"></i>Científica</p></div>
            <div class="options-line"><p><i class="fa-solid fa-chart-line"></i>Representação gráfica</p></div>
            <div class="options-line"><p><i class="fa-solid fa-code"></i>Programador</p></div>
            <div class="options-line"><p><i class="fa-solid fa-calendar-days"></i>Cálculo de data</p></div>
        </div>
        <div id="options-convert">
            <h3 class="options-title">Conversor</h3>
            <div class="options-line"><p><i class="fa-solid fa-coins"></i>Moeda</p></div>
            <div class="options-line"><p><i class="fa-solid fa-cube"></i>Volume</p></div>
            <div class="option-line"><p><i class="fa-solid"></i>Comprimento</p></div>
            <div class="option-line"><p><i class="fa-solid"></i>Peso e massa</p></div>
            <div class="option-line"><p><i class="fa-solid"></i>Temperatura</p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
            <div class="option-line"><p><i class="fa-solid"></i></p></div>
        </div>
    </div>
    <div id="options-footer">
        <h2><i class="fa-solid fa-gear"></i>Configurações</h2>
    </div>
</div>