<div id="calc-container">
    <app-options class="hide">
        
    </app-options>
    <div id="calc">
        <div id="close-calc-btn"><i class="fa-solid fa-xmark"></i></div>
        <header></header>
        <div id="calc-header">
            <div id="scale-calc-btn">
                <i id="big-square" class="fa-regular fa-square"></i>
                <i id="small-square" class="fa-regular fa-square"></i>
                <i id="arrow" class="fa-solid fa-arrow-down"></i>
            </div>
        </div>
        <div id="calc-result">
            <p><span id="result">0</span></p>
        </div>
        <div id="calc-body">
            <div class="linha">
                <div id="percent-btn" class="calc-button"><i class="fa-solid fa-percent"></i></div>
                <div id="ce-btn" class="calc-button"><i class="fa-solid fa-c"></i><i class="fa-solid fa-e"></i></div>
                <div id="c-btn" class="calc-button"><i class="fa-solid fa-c"></i></div>
                <div id="delete-btn" class="calc-button"><i class="fa-solid fa-delete-left"></i></div>
            </div>
            <div class="linha">
                <div class="calc-button">1/x</div>
                <div class="calc-button"><i class="fa-solid fa-xmark"></i> ²</div>
                <div class="calc-button">²<i class="fa-solid fa-square-root-variable"></i></div>
                <div class="calc-button"><i class="fa-solid fa-divide"></i></div>
            </div>
            <div class="linha">
                <div class="calc-button-number"><i class="fa-solid fa-7"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-8"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-9"></i></div>
                <div class="calc-button"><i class="fa-solid fa-x"></i></div>
            </div>
            <div class="linha">
                <div class="calc-button-number"><i class="fa-solid fa-4"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-5"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-6"></i></div>
                <div class="calc-button"><i class="fa-solid fa-minus"></i></div>
            </div>
            <div class="linha">
                <div class="calc-button-number"><i class="fa-solid fa-1"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-2"></i></div>
                <div class="calc-button-number"><i class="fa-solid fa-3"></i></div>
                <div class="calc-button"><i class="fa-solid fa-plus"></i></div>
            </div>
            <div class="linha">
                <div class="calc-button-number">+/-</div>
                <div class="calc-button-number"><i class="fa-solid fa-0"></i></div>
                <div class="calc-button-number">,</div>
                <div class="back-blue"><i class="fa-solid fa-equals"></i></div>
            </div>
        </div>
    </div>
    <app-choices class="hide">

    </app-choices>
</div>